body {
	background: #FFF;
	color: #797979;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.partidos path {
  fill: transparent;
  stroke-width: 0.5px;
  stroke: #ddd;
}

.partidos path:hover {
  cursor: pointer;
  fill: #eee;
}

.tiene-gastopublico {
  fill: green !important;

}

.tiene-gastopublico:hover {
  fill-opacity: 0.7 !important;
}

